.root {
    -fx-font-family: "Inter";
}

.label {
    -fx-font-family: 'Inter';
}

.rounded-border-pane {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

/* Apply to all text elements in TableView */
.table-view {
    -fx-font-family: 'Inter';
    -fx-font-size: 12px;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: rgba(0, 0, 0, 0.25);
    -fx-table-header-border-color: rgba(0, 0, 0, 0.25);
}

/* Column headers */
.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-padding: 16;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgba(0, 0, 0, 0.25);
    -fx-padding: 16;
    -fx-font-size: 12px; /* Ensures header text is 12px */
}

.table-view .column-header .label {
    -fx-padding: 12;
    -fx-font-size: 12px;
    -fx-font-family: 'Inter';
    -fx-font-style: italic;
}

/* Table cells */
.table-view .table-cell {
    -fx-padding: 16;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgba(0, 0, 0, 0.25);
    -fx-font-size: 12px;
    -fx-font-family: 'Inter';
}

/* Rows */
.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgba(0, 0, 0, 0.25);
    -fx-font-family: 'Inter';
}

/* Selection color */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-table-cell-border-color: rgba(0, 0, 0, 0.25);
    -fx-font-family: 'Inter';
}